# =========================
# Build System Files
# =========================
.gradle/

# =========================
# Eclipse Files
# =========================
/bin/

# =========================
# Temp and Archive Files
# =========================
~*.*
Tmp/
Archive/

# =========================
# Operating System Files
# =========================
Desktop.ini
Thumbs.db
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
